<span id="banner">
	<%=image_tag(@team.logo, class: "team-logo")%>
	<h2 id="name-banner"><%= @team.name %></h2>
</span>
<main id="main-content">

	<ul class='tab-list'>
		<li class='selected'><a href='#profile'>Profile</a></li>
		<li><a href='#roster'>Roster</a></li>
	</ul>

	<div id='tab-content'>	
		<span id='profile' class='tab selected'>
			<ul>
				<li>Name: <%= @team.nickname %></li>
				<li>City: <%= @team.city %></li>
				<li>Stadium: <%= @team.stadium %></li>
				<li>Website: <a href=<%= @team.website %>><%= @team.website %></a></li>
		</span>

		<span id='roster' class='tab'>
			<table id='roster-table'>
				<tr id='roster-head'>
					<th>Name</th>
					<th>Jersey Number</th>
					<th class='extra-info'>Height</th>
					<th class='extra-info'>Weight</th>
					<th class='extra-info'>College</th>
				</tr>
				<% @roster.each do |player| %>
					<tr class='player-info'>
						<td class='name-td'><%= player.footballname %> <%= player.lastname %></td>
						<td class='num-td'><%= player.jerseynum %></td>
						<td class='num-td extra-info'><%= player.height %></td>
						<td class='num-td extra-info'><%= player.weight %></td>
						<td class='extra-info'><%= player.college %></td>
					</tr>
				<% end %>
			</table>
		</span>
	</div>
</main>